*{
	border:0;
	padding:0;
	margin:0;
}
canvas{
	position: absolute;
	top: 10px;
	left:200px;
	border: 1px solid gray;
}
#controls{
	position: absolute;
	top: 10px;
	padding:20px;
	left: 5px;
	border: 1px solid gray;
	background-color: lightskyblue;
	border-radius: 10px;
	box-shadow: 2px 2px 12px lightskyblue;
}
#clearer{
	width: 70px;
	height : 25px; 
}
.color{
	width: 50px;
}