*{
	border:0;
	padding:0;
	margin:0;
}
canvas{
	display: block;
	position: absolute;
	width: 83vw;
	height: 90vh;
	top: 2vh;
	left: 15vw;
	border: 1px solid gray;
}
#controls{
	position: absolute;
	display: block;
	top: 2vh;
	padding:20px;
	left: 1vw;
	border: 1px solid gray;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 12px gray;
}

.color{
	width: 50px;
}